body {
	background: url('../styles/assets/dark_wall.png') repeat;
	margin: 0;
}

header,
footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

h1 {
	width: 95%;
	font-size: 20px;
	text-align: center;
    border-radius: 5px;
	border: 3px solid rgb(0, 0, 0);
	background-color: rgb(200, 200, 200);
}

footer {
	margin-top: 15px;
}

@media screen and (max-width: 550px) {
	main {
		flex-wrap: wrap;
		flex-direction: column;
	}
}