body {
	background: url('../styles/assets/dark_wall.png') repeat;
	margin: 0;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
}


main {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
}

h1 {
	width: 99%;
    font-size: 20px;
    text-align: center;
	border-radius: 5px;
	letter-spacing: initial;
	color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(150, 150, 150);
}

footer {
	margin-top: 15px;
}

@media screen and (max-width: 1265px) {
	main {
		justify-content: space-between;
	}
	h1 {
		width: 100%;
		border-radius: 0;
		border-right: none;
		border-left: none;
	}
}

@media screen and (max-width: 979px) {
	.title {
		display: none;
	}
}

@media screen and (max-width: 520px) {
	main {
		flex-wrap: wrap;
	}
}