/* --------------------------------------------------- MAIN STYLES ------------------------------------------------------------------------ */

body {
	background: url('../styles/assets/dark_wall.png') repeat;
	margin: 0;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	width: 95%;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	width: 95%;
	font-size: 20px;
	text-align: center;
    border-radius: 5px;
	border: 3px solid rgb(0, 0, 0);
	background-color: rgb(200, 200, 200);
}