.phone__notify {
	display: none;
}

.tools {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.tools__btn-wrapper {
	display: flex;
}

.active {
	border-color: red!important;
}

.pen {
	background: url('../styles/assets/tools/pen.png') no-repeat;
}

.line {
	background: url('../styles/assets/tools/line.png') no-repeat;
}

.eraser {
	background: url('../styles/assets/tools/eraser.png') no-repeat;
}

.bucket {
	background: url('../styles/assets/tools/bucket.png') no-repeat;
}

.dropper {
	background: url('../styles/assets/tools/dropper.png') no-repeat;
}

.circle {
	background: url('../styles/assets/tools/circled.png') no-repeat;
}

.rect {
	background: url('../styles/assets/tools/rectangle.png') no-repeat;
}

.mover {
	background: url('../styles/assets/tools/move.png') no-repeat;
}

.stop {
	background: url('../styles/assets/tools/stop.png') no-repeat;
}

.play {
	background: url('../styles/assets/tools/play.png') no-repeat;
}

.full {
	background: url('../styles/assets/tools/full_screen.png') no-repeat;
}

.frames__add {
	background: url('../styles/assets/tools/add.png') no-repeat;
}

.frames__save {
	background: url('../styles/assets/tools/save.png') no-repeat;
}

.pen,
.line,
.rect,
.stop,
.play,
.full,
.mover,
.circle,
.eraser,
.bucket,
.dropper,
.frames__add,
.frames__save,
.color__selector {
	width: 60px;
	height: 60px;
	cursor: pointer;
	margin: 3px 3px;
	border-radius: 5px;
    background-position: center;
    border: 3px solid rgb(0, 0, 0);
	background-color: rgb(225, 225, 225);
	box-shadow: 0 5px 15px 0 rgb(0, 0, 0)
}

.save__img,
.save__animation {
	width: 195px;
	margin: 1px;
	display: flex;
	border-radius: 3px;
	align-items: center;
	justify-content: center;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	border: 1px solid rgb(32, 32, 32);
}

.save__img::before {
	margin-right: 3px;
	content: url('../styles/assets/tools/save3.png');
}

.save__animation::before {
	margin-right: 3px;
	content: url('../styles/assets/tools/save3.png');
}

.frames__add,
.frames__save,
.stop,
.play,
.full {
	width: 49px;
	height: 49px;
	border: 2px solid rgb(0, 0, 0);
	box-shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.2);
}

.color__selector {
	margin-top: 15px;
}

.frames {
	width: 175px;
	height: 600px;
	display: flex;
	border-radius: 5px;
	flex-direction: column;
}

.frames__template-wrapper {
	overflow-y: scroll;
}

.canvas {
	width: 750px;
	height: 600px;
}

.canvas__field {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border: 3px solid rgb(0, 0, 0);
	background-color: rgb(250, 250, 250);
	box-shadow: 0 5px 15px 0 rgb(0, 0, 0);
}

.preview {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;
	box-shadow: 0 5px 15px 0 rgb(0, 0, 0);
}

.preview__monitor {
    width: 375px;
	height: 300px;
	border-radius: 5px 5px 0px 0px;
	background-size: 100%;
	background-repeat: no-repeat;
	border: 3px solid rgb(0, 0, 0);
}

.play__block {
	width: 375px;
	align-content: center;
    background-color: rgb(150, 150, 150);
	border-right: 3px solid rgb(0, 0, 0);
	border-bottom: 3px solid rgb(0, 0, 0);
	border-left: 3px solid rgb(0, 0, 0);
}

.save__wrapper {
	position: absolute;
    display: inline-grid;
    padding: 4px 0 0 2px;
}

.fps__controller {
	color: white;
}

.frame {
    width: 100px;
    height: 100px;
    margin: 5px auto;
	border-radius: 5px;
	position: relative;
    border: 2px solid rgb(0, 0, 0);
}

.frame__image {
    width: 100%;
    height: 100% ;
    background-color: white;
}

.frame__btn-delete {
	top: 0;
	right: 0;
	width: 28px;
	height: 28px;
	border: none;
	outline: none;
	cursor: pointer;
	position: absolute;
	background: url('../styles/assets/tools/trash.png') no-repeat;
}

.frame__btn-copy {
	right: 0;
	bottom: 0;
	margin-right: 5px;
	width: 28px;
	height: 28px;
	border: none;
	outline: none;
	cursor: pointer;
	position: absolute;
	background: url('../styles/assets/tools/copy.png') no-repeat;
}

.frames__btn-wrapper {
	display: flex;
	justify-content: center;
}

#palette {
    display: inline-block;
    border: solid 1px #aaa;
    cursor: default;
    vertical-align: top;
}
   
#palette {
    width: 95px;
}

.button {
    width: 15px;
    height: 15px;
    display: inline-block;
    padding: 1px;
    cursor: pointer;
    border: solid 1px #fff;
}
   
.button:hover {
	border: solid 1px #f00;
}
   
.button:active {
    border: solid 1px #ff0;
}

@media screen and (max-width: 1465px) {
	.canvas {
		width: 600px;
		height: 480px;
	}
	.play__block,
	.preview__monitor {
		width: 300px;
	}
	.preview__monitor {
		height: 240px;
	}
	.save__img,
	.save__animation {
		width: auto;
		padding-right: 3px;
	}
}

@media screen and (max-width: 1265px) {
	.pen,
	.line,
	.rect,
	.mover,
	.circle,
	.eraser,
	.bucket,
	.dropper,
	.frames__add,
	.frames__save,
	.color__selector {
		width: 50px;
		height: 50px;
	}
	.preview {
		margin-right: 7px;
	}
	.canvas {
		width: 500px;
		height: 400px;
	}
}

@media screen and (max-width: 1129px) {
	.canvas {
		width: 400px;
		height: 320px;
	}
	.frames {
		width: 120px;
	}
}

@media screen and (max-width: 979px) {
	.pen,
	.line,
	.rect,
	.mover,
	.stop,
	.play,
	.full,
	.circle,
	.eraser,
	.bucket,
	.dropper,
	.frames__add,
	.frames__save,
	.color__selector {
		width: 35px;
		height: 35px;
	}
	.canvas {
		width: 300px;
		height: 240px;
	}
	.frames {
		width: 90px;
	}
	.preview__monitor {
		width: 150px;
		height: 120px;
	}
	.play__block {
		width: 150px;
		flex-wrap: wrap;
	}
	.save__wrapper {
		position: relative;
	}
}

@media screen and (max-width: 674px) {
	.canvas {
		width: 150px;
		height: 120px;
	}
}

@media screen and (max-width: 520px) {
	.phone__notify {
		display: block;
		margin: 0 auto;
	}
	main {
		display: none;
	}
}