.tools {
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
    justify-content: center;
}

.tools__btn-wrapper {
	display: flex;
}

.pen {
	background: url('../styles/assets/tools/pen.png') no-repeat;
}

.line {
	background: url('../styles/assets/tools/line.png') no-repeat;
}

.eraser {
	background: url('../styles/assets/tools/eraser.png') no-repeat;
}

.bucket {
	background: url('../styles/assets/tools/bucket.png') no-repeat;
}

.dropper {
	background: url('../styles/assets/tools/dropper.png') no-repeat;
}

.circle {
	background: url('../styles/assets/tools/circled.png') no-repeat;
}

.rect {
	background: url('../styles/assets/tools/rectangle.png') no-repeat;
}

.mover {
	background: url('../styles/assets/tools/move.png') no-repeat;
}

.frames__add {
	background: url('../styles/assets/tools/add.png') no-repeat;
}

.frames__save {
	background: url('../styles/assets/tools/save.png') no-repeat;
}

.pen,
.line,
.rect,
.mover,
.circle,
.eraser,
.bucket,
.dropper,
.frames__add,
.frames__save,
.color__selector {
	width: 60px;
	height: 60px;
	cursor: pointer;
	margin: 3px 3px;
	border-radius: 5px;
    background-position: center;
    border: 3px solid rgb(0, 0, 0);
	background-color: rgb(200, 200, 200);
	box-shadow: 0 5px 15px 0 rgb(0, 0, 0)
}

.frames__add,
.frames__save {
	border: 2px solid rgb(0, 0, 0);
	box-shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.2);
}

.color__selector {
	margin-top: 15px;
}

.frames {
	margin: 5px;
	height: 600px;
	display: flex;
	flex-wrap: wrap;
	border-radius: 5px;
    justify-content: center;
	border: 3px solid rgb(0, 0, 0);
	background-color: rgb(200, 200, 200);
	box-shadow: 0 5px 15px 0 rgb(0, 0, 0);
}

@media screen and (max-width: 550px) {
	.tools {
		width: 70%;
	}

	.frames {
		width: 40%;
	}
}